/* Navbar.css */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(#3ab389 0%, #521c10 49%, #3e39cc 100%);
    color: #fff;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .logo_text {
    margin: 0;
    font-size: 1.5em;
  }
  
  .right {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 50px;
  }
  
  .right li {
    margin-left: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  